body{
    background-image: url('christine-roy-ir5MHI6rPg0-unsplash.jpg');
   
    height: "100vh";
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}